@if(currentGame) {
  <div class="game row m-0">
      <div class="offset-3 col-6 game-grid py-5 px-3 rounded-2 position-relative">
        @for (position of gridArray; track position) {
          <button
            class="btn-game"
            [class.active]="isMoveWin(position)"
            (click)="addMove(position)">
            @if(moves[position]) {
              <img @btn-game [src]="'assets/images/'+(moves[position]==players[0].id ?'x': 'o')+'.png'" />
            }
            @else {
              <span></span>
            }
          </button>
        }
        @if(currentGame.idCurrentPlayer !== idPlayer() && !currentGame.finished) {
          <app-waiting-player></app-waiting-player>
        }
        <!-- Start Modal Winner -->
        @if(showModal()) {
          <app-popup
            [message]="movesWin.length > 0 ? movesWin[0].id_player === idPlayer() ? 'You Win' : 'You Lost' : 'Draw'"
            [isOpen]="showModal()"
            (close)="toggleModal()"
            (restart)="restartGame()"
            [icon]="'assets/images/'+(movesWin.length > 0 ? movesWin[0].id_player === idPlayer() ? 'trophee' : 'lost' : 'draw')+'.png'"
          >
          </app-popup>
        }
     <!-- End Modal Winner-->
      </div>
      <div class="d-flex flex-column justify-content-center align-items-start gap-5 col-3">
       {{currentGame.idCurrentPlayer !== idPlayer()}} {{currentGame.idCurrentPlayer}} {{idPlayer()}}
      </div>
  </div>
}