@import 'src/styles/variables.less';

.btn-primary {
    background-color: @color-3;
    color: #000;
    border: none;
    box-shadow: 0.3em 0.3em 0 #A4C8E1;
    border-radius: 8px;
    font-weight: bold;
    width: 100%;
    transition: all ease-in-out 250ms;
    &:hover {
        box-shadow: -0.3em -0.3em 0 #A4C8E1;
        background-color: #dd6395;
        transform: translateY(-5px);
    }
    &.game-action {
        padding: 10px 20px;
        gap: 20px !important;
        width: 200px;
        justify-content: center;
        font-size: 16px;
    }
    &.icon-button {
        position: absolute;
        width: 32px;
        height: 32px;
        padding: 0;
        top: 0;
        justify-content: center;
        transform: translateY(-50%);
        span {
            display: none;
        }
        img {
            width: 25px;
            height: 25px;
        }
    }
    img {
        width: 35px;
    }

}
