.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url("/assets/images/background.png");
    background-size: cover;    
    background-repeat: no-repeat;
    opacity: .1;
}